{{ define "student" }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Электронный журнал</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="\static\css\style.css">
</head>
<body>  
    <img src="\static\logo_get_full_1.png" 
         alt="Логотип" 
         class="photo-on-line">

    <div style="margin-left: 350px; background: #014770; height: 80px; box-sizing: border-box;" >
    </div>

    <div>
        <div>
            <button class="text-button-alt"
                    id="btn-first"
                    hx-get="/student/dashboard" 
                    hx-target="#main-content"
                    hx-swap="innerHTML">
                🧾 Доска объявлений
            </button>

            <button class="text-button-alt"
                    id="btn-second"
                    hx-get="/student/personal_account" 
                    hx-target="#main-content"
                    hx-swap="innerHTML">
                👤 Личный кабинет
            </button>
            
            <button class="text-button-alt"
                    id="btn-third"
                    hx-get="/student/schedule"
                    hx-target="#main-content"
                    hx-swap="innerHTML">
                📅 Расписание
            </button>

            <button class="text-button-alt"
                    id="btn-fourth"
                    hx-get="/student/discipline_progress"
                    hx-target="#main-content"
                    hx-swap="innerHTML">
                📖 Дисциплины
            </button>
        </div>
            
        <div id="main-content" class="tab-content">
            
        </div>
    </div>

    <script>
    let isFirstLoad = true;
    
    document.body.addEventListener('htmx:load', function() {
        if (isFirstLoad) {
            isFirstLoad = false;
            htmx.ajax('GET', '/student/dashboard', {target: '#main-content', swap: 'innerHTML'});
        }
    });
</script>
</body>
</html>
{{ end }}