<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="login.css">
    <title>Регестрация</title>
    <link rel="shortcut icon" href="images/logo_1.jpg" type="image/x-icon"> <!-- C лого надо поставить -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

</head>

<body>
    <header class="head">
        <img src="Images/small_logo_get_full_1_1_53a833098a.webp" alt="">
    </header>

    <header class="auth-wrapper">
        <div class="auth-card">

            <h1 class="auth-title">Вход</h1>

            <div class="auth-fields">
                <input class="auth-input" type="text" placeholder="Логин">
                <input class="auth-input" type="password" placeholder="Пароль">
            </div>

            <div class="auth-buttons">
                <button class="btn btn-primary">Войти</button>
                <button class="btn btn-secondary">Зарегистрироваться</button>
            </div>

        </div>


    </header>
</body>

</html>