{{define "login"}}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Вход</title>
    <link rel="shortcut icon" href="/static/img/logo_1.jpg" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body>
    <header class="head">
        <img src="/static/img/small_logo_get_full_1_1_53a833098a.webp" alt="" style="padding: 20px;">
    </header>

    <div class="auth-wrapper">
        <div class="auth-card">

            <h1 class="auth-title">Вход</h1>

            <form hx-post="/try_login" hx-target="#error-message" hx-trigger="submit">

                <div class="auth-fields">
                    <input class="auth-input" type="email" name="login" placeholder="Email" required>

                    <input class="auth-input" type="password" name="password" placeholder="Пароль" required>
                </div>

                <div class="auth-buttons">
                    <button class="btn btn-primary" type="submit">Войти</button>
                </div>

            </form>

            <div id="error-message" class="error"></div>

        </div>
    </div>

</body>

</html>
{{end}}